.trophy-panel {
	/* source size 300x700px + light bleed */
	--tw: calc(calc(min(720px,100vw) - 2rem) * 0.18); /*2rem = main padding*/
	--th: calc(700 / 300 * var(--tw));
	--zs: calc(24 / 300 * var(--tw));
	grid-area: trophy-panel;
	width: min(720px,100vw);
	display: grid;
	grid-template-columns: repeat(5,var(--tw));
	grid-template-rows: var(--th);
	grid-gap: 0 2.5%;
	/*background-color: #004000;*/
}